<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/sytlesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/sytlesheets/style.css">
  <title>ShortURL</title>
</head>

<header>
  <div class="container-fluid mt-5">
    <div class="container mb-5 d-flex justify-content-center">
      <h1><a href="/">ShortURL</a></h1>
    </div>
    <div class="container d-flex justify-content-center">
      <img src="/image/ExportedContentImage_00.png" alt="URL連結圖片" class="img-fluid">
    </div>
  </div>
</header>

<body>

  {{{body}}}

  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/main.js"></script>
</body>
</html>