<div class="d-flex justify-content-center">
  <div class="row input">
    <form action="/shorten">
      <div class="container mx-auto mt-5">
        <input class="form-control" type="url" name="url" placeholder="Type URL Here!" aria-label="input-url">
      </div>
      <div class="container mt-1">
        <button class="btn btn-outline-success" type="submit">shortenURL</button>
      </div>
    </form>
  </div>
</div>