<div class="d-flex justify-content-center">
  <div class="row">
    <div class="container mx-auto mt-5">
      <input class="form-control" type="text" id="urlField" value="{{shortURL}}" aria-label="URL">
    </div>
    <div class="container mt-1">
      <button class="btn btn-outline-success" id="copyBtn">COPY URL</button>
    </div>
  </div>
</div>